<h2>{{title}}</h2>
<form method="post" action="/login">
Email Id: <br>
<input type="text" name="username" placeholder="username"><br>
Password:<br>
<input type="password" name="password" placeholder="password">
<input type="submit" value="login"><br>
</br>
</form>
<a href="/signuppage">New user? Sign Up</a>